name: Unit Tests

on:
  push:
    branches: ['master', 'develop']
  workflow_dispatch:

jobs:
  unit-tests:
    name: Unit Tests
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        persist-credentials: false

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1.5.1

    - name: Build image
      uses: docker/build-push-action@v2.6.1
      with:
        file: ./compose/local/django/Dockerfile
        context: .
        push: false
        load: true
        tags: local_django:latest

    - name: Run migrate
      run: docker-compose -f local.yml run --rm django python manage.py migrate
    - name: Run pytest
      run: docker-compose -f local.yml run --rm django pytest -vvlrs
    - name: Run compose down
      run: docker-compose -f local.yml down
